VITE_APP_TITLE="VK Cloud Clicker"
VITE_API_BASE_URL=
VITE_CLICK_SESSION_MAX_SIZE=200
VITE_CLICK_SESSION_MAX_DURATION=5000
VITE_CLICK_SESSION_MIN_DURATION=50
# must be empty in production
VITE_DEFAULT_INIT_DATA=
VITE_MILESTONE_EPSILON=250
